<!DOCTYPE html>
{% extends "basic_app/basic.html"%}

{% block body_block%}
<h1>Welcome to this Another Page</h1>
<h2>See the info below!!</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto aliquid asperiores nisi aut, obcaecati quaerat, doloribus iure temporibus quasi sed cum nesciunt. Consequatur est ab nesciunt nulla neque blanditiis placeat? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur quod saepe earum. Recusandae, ullam ad corporis fugiat nobis voluptatum? Vel et incidunt sapiente, sed dolore aspernatur dignissimos assumenda nulla est! Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime libero magni, facere rem est, consequuntur minima voluptatibus eaque ducimus, quisquam incidunt placeat. Provident dolorum earum dolores nihil eaque vitae repudiandae.</p>
{% endblock %}
<!--
<html>
    <head>
        <meta charset="utf-8">
        <title>Another Page</title>
    </head>
    <body>
        <h1>Welcome to this Another Page</h1>
        <h2>See the info below!!</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, voluptatem. In, eaque. Veritatis eum dolor ducimus totam illum animi quam officia est quidem perferendis dolorem, et officiis quod maiores molestias. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit eveniet laboriosam explicabo nulla suscipit voluptates veniam earum cupiditate tenetur repudiandae tempore voluptatem, sed beatae necessitatibus totam, impedit dolores. Praesentium, quia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe facere iste natus aut corrupti aliquam, aspernatur ad, distinctio dolorum placeat asperiores minima, quas architecto eum enim doloremque est? Quasi, accusantium!</p>
    </body>
</html>-->